/*For the whole body*/

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2 {
  font-size: 30px;
}

/*Header*/

.header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  background-color: black;
  margin-top: -10px;
  z-index: 10;
}

.header a {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-decoration: underline;
}

.header nav {
  display: flex;
  align-items: right;
  margin-right: 10px;
}

nav span {
  list-style-type: none;
  margin: 0px 10px;
}

.headlogo img {
  margin-left: 10px;
  height: 50px;
  opacity: 0.9;
}

/*Main*/
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*Mission*/
.mission {
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center, center;
  height: 700px;
  width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 59px;
}

.missiontext {
  background-color: black;
  width: 1200px;
}

/*Tea of the Month*/
.teapictures {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
}

.teapic {
  margin: 10px;
}

.teapic img {
  height: 200px;
  width: 300px;
}

/*Locations*/
.locations {
  display: flex;
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center, center;
  width: 1200px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
}

.locationstitle, h2{
  background: none;
}

.locationtexts {
  display: flex;
  justify-content: center;
  background: none;
}

.location {
  width: 300px;
  opacity: 1;
  background: black;
  margin: 0px 20px;
}

/*Footer*/
.contact {
  height: 200px;
}

.copyright p{
  text-align: left;
  margin-left: 20px;
}
